.search{margin-top: 115px; }
.demo__title {margin-top: 100px;}
.demo__content{ padding-bottom: 190px; padding-right: 60px;}
.search__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

}
.search__item-select {
  height: 40px;
  max-height: 40px;
  padding: 0 5px;
  background: transparent;
  text-transform: capitalize;
  border: 2px solid #ddd;
  font-family: Helvetica;
  outline: none;margin-left: 40px;


}
.search__item-label {
  font-family: Helvetica;
  font-size: 13px;
  margin-left: 40px;
  margin-bottom: 5px;
}
.search__item-btn {
  background: #000;
  outline: none;
  padding: 10px;
  border: none;
  color: #fff;
  font-family: Helvetica;
  font-size: 14px;
  cursor: pointer;margin-left: 40px;
}

.sidebar {
  width: 30%;
  padding: 50px;
  box-sizing: border-box;

}

#app {
  display: flex;
  flex-wrap: wrap;
}

.demo {
  width: 70%;
  padding: 30px 50px;
  box-sizing: border-box;
  margin: 0 auto;
  line-height: 1.5;
}
.demo__title {
  font-size: 38px;
  display: inline-block;
  margin-bottom: 30px;
}
.demo p {
  margin-bottom: 30px;
}

.details {
  background: #eee;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px; margin-left: 40px;

}

.detail {
  font-family: Helvetica;
}
.detail:last-child {
  margin-bottom: 0;
}
.detail:last-child {
  margin-bottom: 0;
}
.detail__title {
  font-size: 13px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.detail__font-family {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 16px;
  color: #000;
}
.detail__subtitle {
  font-size: 12px;
  margin-bottom: 5px;
}
.detail__code {
  width: 100%;
  resize: none;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  background: #ddd;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 13px;
  min-height: 70px;
}

.font-size-settings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-family: Montserrat;
  font-size: 12px;
  margin-bottom: 15px;
}
.font-size-settings p {
  margin-left: 10px;
  margin-bottom: 0;
}
.font-size-settings button {
  margin-left: 4px;
  border: none;
  background: #ddd;
  width: 24px;
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  font-family: Montserrat;
  outline: none;
  cursor: pointer;
}
.font-size-settings .change-theme {
  width: auto;
  font-size: 12px;
  margin-left: 15px;
  background: #000;
  color: #fff;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  #app {
    flex-direction: column;
  }

  .sidebar, .demo {
    width: 100%;
  }
}
.dark-background {
  color: #fff;
  background: #000;
}
.dark-background .search__item-select {
  color: #fff;
  border-color: #333;
}
.dark-background .search__item-select option {
  color: #000;
}
.dark-background .search__item-btn {
  color: #000;
  background: #fff;
}
.dark-background .details {
  background: #333;
}
.dark-background .detail__title {
  color: rgba(255, 255, 255, 0.2);
}
.dark-background .detail__font-family {
  color: #fff;
}
.dark-background .detail__code {
  background: #222;
  color: rgba(255, 255, 255, 0.4);
}
.dark-background .font-size-settings button {
  background: #333;
  color: #fff;
}
.dark-background .font-size-settings .change-theme {
  background: #fff;
  color: #000;
}

.error {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 32px;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  justify-content: center;
}
